@tailwind base;
@tailwind components;
@import "@fontsource/nunito-sans";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #111111 !important;
  font-family: "Nunito Sans" !important;
}
